@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1A2D94;

}

.nav{
    height: 60px;
    background-color:#152682;
    box-shadow: 0 0 8px rgb(14, 3, 103);
    display: flex;
    align-items: center;
    padding: 0 2%;
}

.brand{
    flex: 1;
}

.logo{
    height: 200px;
    padding-top: 13px;
}

.links{
    font-family: 'Jura', sans-serif;
    color: #FFD233;
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin-left: 19rem;
}

.search-box {   
    border: none;
    background-color: transparent;
    height: 30px;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}

.search-box:hover{
    cursor: pointer;
    border-bottom: 1px solid #FFD233;
    outline: none;
    transition: .5s;
}

/* body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
} */

main {
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: #152682;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}



.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #FFD233;
}


.custom-btn {
  background-color: none;
  background: none;
  box-shadow: none;
  border:  none;
  color: #FFD233;
}



.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #FFD233;
  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: rgb(14, 3, 103);
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-left {
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transform: translateX(-400px);
}

nav {
  padding-top: 30px;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: rgb(14, 3, 103);
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
  background-image: linear-gradient(
        120deg,
        transparent 0%, 
        transparent 50%,
        #1A2D94 50%
    );
  background-size: 300%;
    transition: all 1s;
}

.sidebar-anchor:before {
  
  width: 0;
  
  
  bottom: 0;
  left: 0;
  
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.sidebar-anchor:hover{
  background-position: right;
    color: #FFD233;
    padding: 8px 20px;
    margin: -8px -20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #152682;

}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

@media (min-width: 480px) {
    .nav-list {
      display: block;
    }
  }
  
  @media (min-width: 768px) {
    .nav-right {
      position: absolute;
    }
    .hidden-xs {
      display: block;
    }
    .visible-xs {
      display: none;
    }
  }